@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBar {
  scroll-behavior: smooth;
  /* overflow: hidden; Hide the scrollbar */
}

/* For Webkit-based browsers (Chrome, Safari) */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hideScrollBar {
  scrollbar-width: none;
}
